@model IEnumerable<Crossroads.Web.ViewModels.PostViewModel>

@{
    ViewBag.Title = "Posts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @foreach (var post in Model)
    {
        <p>@post.Title</p>
    }
</div>
