@using Crossroads.Web.ViewModels.ProfilesViewModels
@model IPagedList<ProfileViewModel>
@{
    ViewBag.Title = "Профили";
}

@using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        UpdateTargetId = "profiles",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { id = "searchForm" }))
{
    <input type="text" name="searchString" oninput="changed()" />
    <input type="submit" value="Търси потребители" />
}

<a id="profilesFilterBtn" href="#">Разширено търсене</a>
@Html.Action("FilterProfiles")

<div id="profiles">
    @Html.Action("Display")
</div>

@section JavaScript {
    @Scripts.Render("~/bundles/jquery")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")

    <script>
        function changed() {
            $("#searchForm").submit();
        }

        $('#profilesSearchBtn').on('click', function () {
            $('#profilesSearchFilter').toggle('slow');
        })

        $('#profilesFilterBtn').on('click', filterShowHide);

        function filterShowHide() {
            if ($('#profilesSearchFilter').css('display') == 'none') {
                $('#profilesSearchFilter').show('slow');
                $('#profilesFilterBtn').text('Скрий филтъра')
            } else {
                $('#profilesSearchFilter').hide('slow');
                $('#profilesFilterBtn').text("Разширено търсене")
            }
        }

        function filterClear() {
            $('#profilesSearchFilter input:text').val("");
            $('#profilesSearchFilter input:radio').attr("checked", false);
            $("#profilesSearchFilter select option").attr('selected', false);
            filterShowHide();
        }

    </script>
}
