@{
    ViewBag.Title = "За сайта";
}

<h2 class="page-title">Crossroads - сайт за рок и метъл култура (Beta версия*)</h2>

<p class="description">Crossroads е основан с идеята да среща почитателите на рок и метъл музиката в България.</p>

<img class="arrows" src="../Content/img/arrows.jpg" alt="Стрелки" />

<h3>Описание на някои от функционалностите</h3>

<h4>Потребители</h4>

<ul>
    <li>
        Кратко търсене:
        търсене по потребителско име, дума, съдържаща се в "За мен" описанието на профила или по любима група.
    </li>
    <li>
        Разщирено търсене:
        може да изберете някои от опциите или да ги комбинирате.
        При "Интереси" и "Музикални стилове", ако са селектирани няколко критерия,
        информацията на намерените потребители ще отговаря на поне един от тях.
    </li>
</ul>

<h4>Форум</h4>

<ul>
    <li>
        Форум точки:
        При положителен вот даден на тема създадена от даден потребител, той получава
        2 точки, а при отрицателен губи 2 точки.
        При положителен/отрицателен вот на отговор се дава/губи по 1 точка.
    </li>
    <li>
        Flag:
        Докладва на модераторите дадена тема, отговор или коментар.
    </li>
</ul>

<p>
    *Crossroads в момента се развива и търси модератори и съмишленици.  Ще сме благодарни за всякакви идеи, препоръки и коментари!
    Може да се свържете с нас на адрес <a href="mailto:admin@crossroads.bg">admin@crossroads.bg</a>.


    @section Scripts {
        <script>
        $('body').addClass('about-page');
        </script>
    }
