@using Crossroads.Web.Areas.Administration.ViewModels.UserViewModels.Interests
@model InterestOutputViewModel

<li id="interestLi@(Model.Id)">
    <div class="box" id="interest@(Model.Id)">@Model.Name</div>
    @Ajax.ActionLink("Промени", "EditInterest", new { id = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "interest" + Model.Id,
            InsertionMode = InsertionMode.Replace
        }, new { @class = "edit-btn" })
    @Ajax.ActionLink("Изтрий", "DeleteInterest", new { id = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "DELETE",
            UpdateTargetId = "interestLi" + Model.Id,
            InsertionMode = InsertionMode.ReplaceWith,
            Confirm = "Потвърждавате ли изтриването?"
        }, new { @class = "delete-btn" })
</li>