USE [master]
GO
/****** Object:  Database [Crossroads]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
CREATE DATABASE [Crossroads]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Crossroads', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Crossroads.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Crossroads_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Crossroads_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Crossroads].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Crossroads]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnswerFlags]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerFlags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Flagged] [bit] NOT NULL,
	[AnswerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AnswerFlags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answers]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorProfileId] [int] NULL,
	[TopicId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateEdited] [datetime] NULL,
	[Votes] [int] NOT NULL,
	[Flags] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnswerVotes]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerVotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[IsVotePositive] [bit] NULL,
	[AnswerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AnswerVotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[LastActionTime] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](90) NOT NULL,
	[Description] [nvarchar](130) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentFlags]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentFlags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Flagged] [bit] NOT NULL,
	[CommentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CommentFlags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[Flags] [int] NOT NULL,
	[AnswerId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateEdited] [datetime] NULL,
	[AuthorProfileId] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MusicGenres]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicGenres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_dbo.MusicGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MusicGenreUserProfiles]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicGenreUserProfiles](
	[MusicGenre_Id] [int] NOT NULL,
	[UserProfile_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MusicGenreUserProfiles] PRIMARY KEY CLUSTERED 
(
	[MusicGenre_Id] ASC,
	[UserProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfileComments]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](2500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[AuthorProfile_Id] [int] NULL,
	[Profile_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ProfileComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfileInterests]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileInterests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_dbo.ProfileInterests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfileInterestUserProfiles]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileInterestUserProfiles](
	[ProfileInterest_Id] [int] NOT NULL,
	[UserProfile_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProfileInterestUserProfiles] PRIMARY KEY CLUSTERED 
(
	[ProfileInterest_Id] ASC,
	[UserProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfileMessages]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[AuthorProfile_Id] [int] NULL,
	[Profile_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ProfileMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TopicFlags]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicFlags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Flagged] [bit] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TopicFlags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topics]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[AuthorProfileId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[DateEdited] [datetime] NULL,
	[Votes] [int] NOT NULL,
	[Views] [int] NOT NULL,
	[Flags] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TopicVotes]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicVotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[IsVotePositive] [bit] NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TopicVotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Towns]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Towns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 6.5.2015 г. 22:25:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NULL,
	[LastName] [nvarchar](40) NULL,
	[TownId] [int] NULL,
	[Bands] [nvarchar](600) NULL,
	[IsMale] [bit] NULL,
	[BirthDate] [datetime] NULL,
	[About] [nvarchar](1500) NULL,
	[ProfileUserId] [nvarchar](128) NULL,
	[Image] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[ForumPoints] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AnswerFlags] ON 

INSERT [dbo].[AnswerFlags] ([Id], [UserId], [Flagged], [AnswerId]) VALUES (1, N'507cba0b-2d8c-4c50-95d7-c2ca4d762f64', 0, 61)
INSERT [dbo].[AnswerFlags] ([Id], [UserId], [Flagged], [AnswerId]) VALUES (2, N'507cba0b-2d8c-4c50-95d7-c2ca4d762f64', 0, 62)
INSERT [dbo].[AnswerFlags] ([Id], [UserId], [Flagged], [AnswerId]) VALUES (3, N'174beeff-b71a-48ac-a77e-e9e93fc6c6fc', 1, 13)
SET IDENTITY_INSERT [dbo].[AnswerFlags] OFF
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([Id], [Content], [AuthorProfileId], [TopicId], [DateCreated], [DateEdited], [Votes], [Flags]) VALUES (13, N'<p><span style="color: #ff6600">TEst Answer aldsa;skda hsdkj fhjs kfdkj sfksdhfk TEst Answer aldsa;skda hsdkjfhjskfdkj sfksdhfk</span></p>', 12, 2, CAST(N'2015-03-17 20:11:08.000' AS DateTime), NULL, -1, 1)
INSERT [dbo].[Answers] ([Id], [Content], [AuthorProfileId], [TopicId], [DateCreated], [DateEdited], [Votes], [Flags]) VALUES (15, N'fsgsfgdfg sgsgsfsfsf sfsdfs sfsdfsf sfsdfsd sfsfsfs sfsfsfss sfdsdf', 2, 21, CAST(N'2015-03-18 21:59:56.393' AS DateTime), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Answers] OFF
SET IDENTITY_INSERT [dbo].[AnswerVotes] ON 

INSERT [dbo].[AnswerVotes] ([Id], [UserId], [IsVotePositive], [AnswerId]) VALUES (1, N'342aed86-5a2f-49e5-a42a-5cb5e54dd7b4', 0, 13)
INSERT [dbo].[AnswerVotes] ([Id], [UserId], [IsVotePositive], [AnswerId]) VALUES (2, N'9c52d141-0ac0-4d2e-8298-ec09fcbc415f', 0, 13)
INSERT [dbo].[AnswerVotes] ([Id], [UserId], [IsVotePositive], [AnswerId]) VALUES (3, N'710e0dd0-4d1a-442e-8171-869ae7de4553', 1, 13)
SET IDENTITY_INSERT [dbo].[AnswerVotes] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd7d69c3b-0d44-4ea6-a16b-1897c7ecd098', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2ec2967a-79aa-4957-930d-93e6ee50f104', N'Moderator')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1b45d303-8dda-4847-ae68-cc8b98d9b549', N'2ec2967a-79aa-4957-930d-93e6ee50f104')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'174beeff-b71a-48ac-a77e-e9e93fc6c6fc', N'd7d69c3b-0d44-4ea6-a16b-1897c7ecd098')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b779cc4f-2cbc-4f68-b154-7dab74196cd1', N'd7d69c3b-0d44-4ea6-a16b-1897c7ecd098')
INSERT [dbo].[AspNetUsers] ([Id], [LastActionTime], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'174beeff-b71a-48ac-a77e-e9e93fc6c6fc', CAST(N'2015-05-06 22:06:45.693' AS DateTime), N'admin@gmail.com', 0, N'AEIyrTZe/6tmkozGMbEcRZchKhD4JWAfw3mdyMKAkfyo51ZcjHs8A8a60JbxSLVD/Q==', N'654def86-e558-448f-9cb7-c6f8ec587eef', NULL, 0, 0, NULL, 0, 0, N'Administrator')
INSERT [dbo].[AspNetUsers] ([Id], [LastActionTime], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1b45d303-8dda-4847-ae68-cc8b98d9b549', CAST(N'2015-05-06 22:09:14.570' AS DateTime), N'moderator@gmail.com', 0, N'APdOwbVEAabjv/db3RMgWa8IW/Z4Ap/7MBDD49gS3SeeWaqsxpiERDOR8ZBv2oZ/jg==', N'f0b2a34b-bb94-48b6-a757-73adc28a7e29', NULL, 0, 0, NULL, 0, 0, N'Moderator')
INSERT [dbo].[AspNetUsers] ([Id], [LastActionTime], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'23ab4fd3-51e9-4ec7-a360-280404176a88', CAST(N'2015-04-27 10:19:50.117' AS DateTime), N'clarissa-bbb@gmail.com', 0, N'AIkgGDF1B/6yM9JqO03dQu5Ye9qyVLri3dYF7vAucJ+pB9vKS5YKchso83KNOfGtUg==', N'928e2010-8c17-4923-8f9e-5fe6c9537ab6', NULL, 0, 0, NULL, 1, 0, N'Clarissa')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Форум', N'Общи въпроси свързани с форума')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'За музиканти', N'Ако се занимавате с музика, имате група или търисте такава')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Групи', N'Тук може да коментирате групи, музиканти')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CommentFlags] ON 

INSERT [dbo].[CommentFlags] ([Id], [UserId], [Flagged], [CommentId]) VALUES (1, N'174beeff-b71a-48ac-a77e-e9e93fc6c6fc', 1, 1)
INSERT [dbo].[CommentFlags] ([Id], [UserId], [Flagged], [CommentId]) VALUES (2, N'5020ccdc-2c8b-4349-a704-779b16ee1b9a', 1, 12)
INSERT [dbo].[CommentFlags] ([Id], [UserId], [Flagged], [CommentId]) VALUES (3, N'5020ccdc-2c8b-4349-a704-779b16ee1b9a', 1, 14)
SET IDENTITY_INSERT [dbo].[CommentFlags] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Content], [Flags], [AnswerId], [DateCreated], [DateEdited], [AuthorProfileId]) VALUES (1, N'<p>Zuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu!!!!!!!!! <img src="../../Scripts/tinymce/plugins/emoticons/img/smiley-laughing.gif" alt="laughing"></p>', 1, 13, CAST(N'2015-03-17 20:11:08.000' AS DateTime), NULL, 5)
INSERT [dbo].[Comments] ([Id], [Content], [Flags], [AnswerId], [DateCreated], [DateEdited], [AuthorProfileId]) VALUES (2, N'<p>&#1050;&#1086;&#1084;&#1077;&#1085;&#1090;&#1072;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088;&#1088; ??????? !!!! :)</p>', 0, 26, CAST(N'2015-03-22 19:06:20.450' AS DateTime), CAST(N'2015-03-22 22:31:12.133' AS DateTime), 2)
INSERT [dbo].[Comments] ([Id], [Content], [Flags], [AnswerId], [DateCreated], [DateEdited], [AuthorProfileId]) VALUES (3, N'Коментарррррррррррррррррррррррррррррр', 0, 27, CAST(N'2015-03-22 19:11:19.787' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[MusicGenres] ON 

INSERT [dbo].[MusicGenres] ([Id], [Name]) VALUES (1, N'Рок')
INSERT [dbo].[MusicGenres] ([Id], [Name]) VALUES (2, N'Фолк Метал')
INSERT [dbo].[MusicGenres] ([Id], [Name]) VALUES (3, N'Пънк')
SET IDENTITY_INSERT [dbo].[MusicGenres] OFF
INSERT [dbo].[MusicGenreUserProfiles] ([MusicGenre_Id], [UserProfile_Id]) VALUES (1, 1)
INSERT [dbo].[MusicGenreUserProfiles] ([MusicGenre_Id], [UserProfile_Id]) VALUES (6, 1)
INSERT [dbo].[MusicGenreUserProfiles] ([MusicGenre_Id], [UserProfile_Id]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[ProfileComments] ON 

INSERT [dbo].[ProfileComments] ([Id], [Content], [DateCreated], [AuthorProfile_Id], [Profile_Id]) VALUES (79, N'<p>&#1061;&#1091;&#1073;&#1072;&#1074; &#1087;&#1088;&#1086;&#1092;&#1080;&#1083; :)</p>', CAST(N'2015-04-24 20:56:13.397' AS DateTime), 2, 9)
INSERT [dbo].[ProfileComments] ([Id], [Content], [DateCreated], [AuthorProfile_Id], [Profile_Id]) VALUES (80, N'<p><em>lpzczxcxzczxxz</em></p>', CAST(N'2015-04-25 23:51:39.160' AS DateTime), 2, 9)
INSERT [dbo].[ProfileComments] ([Id], [Content], [DateCreated], [AuthorProfile_Id], [Profile_Id]) VALUES (88, N'<p>Sdfsfs<span style="color: #ff00ff"> sdfsfsd</span> sdfsdfdsfsd <img src="../../Scripts/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile"></p>', CAST(N'2015-04-26 12:53:14.700' AS DateTime), 28, 9)
SET IDENTITY_INSERT [dbo].[ProfileComments] OFF
SET IDENTITY_INSERT [dbo].[ProfileInterests] ON 

INSERT [dbo].[ProfileInterests] ([Id], [Name]) VALUES (1, N'Готвене')
INSERT [dbo].[ProfileInterests] ([Id], [Name]) VALUES (2, N'Технологии')
INSERT [dbo].[ProfileInterests] ([Id], [Name]) VALUES (3, N'Спорт')
SET IDENTITY_INSERT [dbo].[ProfileInterests] OFF
INSERT [dbo].[ProfileInterestUserProfiles] ([ProfileInterest_Id], [UserProfile_Id]) VALUES (2, 1)
INSERT [dbo].[ProfileInterestUserProfiles] ([ProfileInterest_Id], [UserProfile_Id]) VALUES (3, 1)
INSERT [dbo].[ProfileInterestUserProfiles] ([ProfileInterest_Id], [UserProfile_Id]) VALUES (14, 1)
SET IDENTITY_INSERT [dbo].[ProfileMessages] ON 

INSERT [dbo].[ProfileMessages] ([Id], [Title], [Content], [DateCreated], [IsRead], [AuthorProfile_Id], [Profile_Id]) VALUES (28, N'Как сме днес', N'Здрасти :)
Надявам се да те намирам в добро настроение. Пиши в скайп като имаш време', CAST(N'2015-02-26 19:10:53.553' AS DateTime), 1, 6, 3)
INSERT [dbo].[ProfileMessages] ([Id], [Title], [Content], [DateCreated], [IsRead], [AuthorProfile_Id], [Profile_Id]) VALUES (30, N'На снимки', N'Здрасти,
следващия вторник сме на снимки', CAST(N'2015-02-26 19:27:56.327' AS DateTime), 1, 8, 6)
INSERT [dbo].[ProfileMessages] ([Id], [Title], [Content], [DateCreated], [IsRead], [AuthorProfile_Id], [Profile_Id]) VALUES (31, N'test message', N'test message content', CAST(N'2015-02-26 19:30:30.797' AS DateTime), 1, 3, 7)
SET IDENTITY_INSERT [dbo].[ProfileMessages] OFF
SET IDENTITY_INSERT [dbo].[TopicFlags] ON 

INSERT [dbo].[TopicFlags] ([Id], [UserId], [Flagged], [TopicId]) VALUES (1, N'507cba0b-2d8c-4c50-95d7-c2ca4d762f64', 0, 37)
INSERT [dbo].[TopicFlags] ([Id], [UserId], [Flagged], [TopicId]) VALUES (2, N'507cba0b-2d8c-4c50-95d7-c2ca4d762f64', 1, 12)
INSERT [dbo].[TopicFlags] ([Id], [UserId], [Flagged], [TopicId]) VALUES (3, N'5020ccdc-2c8b-4349-a704-779b16ee1b9a', 1, 14)
SET IDENTITY_INSERT [dbo].[TopicFlags] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [Title], [Content], [CategoryId], [AuthorProfileId], [DateCreated], [DateUpdated], [DateEdited], [Votes], [Views], [Flags]) VALUES (2, N'Правила за участие във форума', N'<p>No rul<span style="color: #ff0000">ZZZZZZZZ</span> <img src="../../../Scripts/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool"></p>', 1, 2, CAST(N'2015-03-09 20:11:08.000' AS DateTime), CAST(N'2015-03-09 20:11:08.000' AS DateTime), NULL, 16, 37, 0)
INSERT [dbo].[Topics] ([Id], [Title], [Content], [CategoryId], [AuthorProfileId], [DateCreated], [DateUpdated], [DateEdited], [Votes], [Views], [Flags]) VALUES (6, N'Концерт на Amorphis', N'Amorphis отново в България', 4, 6, CAST(N'2015-03-10 20:11:08.000' AS DateTime), CAST(N'2015-03-22 22:43:16.070' AS DateTime), NULL, 10, 10, 0)
INSERT [dbo].[Topics] ([Id], [Title], [Content], [CategoryId], [AuthorProfileId], [DateCreated], [DateUpdated], [DateEdited], [Votes], [Views], [Flags]) VALUES (8, N'Препоръки', N'Ще се радваме на всякакви препоръки по форума', 1, 4, CAST(N'2015-03-08 17:11:08.000' AS DateTime), CAST(N'2015-03-20 00:50:00.617' AS DateTime), NULL, 5, 3, 0)
SET IDENTITY_INSERT [dbo].[Topics] OFF
SET IDENTITY_INSERT [dbo].[TopicVotes] ON 

INSERT [dbo].[TopicVotes] ([Id], [UserId], [IsVotePositive], [TopicId]) VALUES (3, N'342aed86-5a2f-49e5-a42a-5cb5e54dd7b4', 1, 8)
INSERT [dbo].[TopicVotes] ([Id], [UserId], [IsVotePositive], [TopicId]) VALUES (4, N'23ab4fd3-51e9-4ec7-a360-280404176a88', 1, 2)
INSERT [dbo].[TopicVotes] ([Id], [UserId], [IsVotePositive], [TopicId]) VALUES (5, N'23ab4fd3-51e9-4ec7-a360-280404176a88', NULL, 6)
SET IDENTITY_INSERT [dbo].[TopicVotes] OFF
SET IDENTITY_INSERT [dbo].[Towns] ON 

INSERT [dbo].[Towns] ([Id], [Name]) VALUES (1, N'София')
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (2, N'Варна')
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (3, N'Пловдив')
SET IDENTITY_INSERT [dbo].[Towns] OFF
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [TownId], [Bands], [IsMale], [BirthDate], [About], [ProfileUserId], [Image], [DateCreated], [ForumPoints]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'2fefd678-d9b8-4032-b0bc-b435f9e90ca6', NULL, CAST(N'2015-04-17 20:33:34.483' AS DateTime), 1)
INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [TownId], [Bands], [IsMale], [BirthDate], [About], [ProfileUserId], [Image], [DateCreated], [ForumPoints]) VALUES (2, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'174beeff-b71a-48ac-a77e-e9e93fc6c6fc', N'admin-268.png', CAST(N'2015-04-17 20:33:35.010' AS DateTime), 1)
INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [TownId], [Bands], [IsMale], [BirthDate], [About], [ProfileUserId], [Image], [DateCreated], [ForumPoints]) VALUES (3, N'Калин', N'Велчев', 2, N'Amorphis, Anathema, Paradise Lost', 1, CAST(N'1981-03-19 00:00:00.000' AS DateTime), NULL, N'cef1c303-d1bb-4cd0-93da-a1f5d1a5899f', N'Калин-Велчев-387.jpg', CAST(N'2015-02-19 15:39:26.000' AS DateTime), -8)
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
/****** Object:  Index [IX_AnswerId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AnswerId] ON [dbo].[AnswerFlags]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AnswerFlags]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorProfileId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorProfileId] ON [dbo].[Answers]
(
	[AuthorProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[Answers]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AnswerId] ON [dbo].[AnswerVotes]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AnswerVotes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[CommentFlags]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[CommentFlags]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AnswerId] ON [dbo].[Comments]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorProfileId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorProfileId] ON [dbo].[Comments]
(
	[AuthorProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusicGenre_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_MusicGenre_Id] ON [dbo].[MusicGenreUserProfiles]
(
	[MusicGenre_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserProfile_Id] ON [dbo].[MusicGenreUserProfiles]
(
	[UserProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorProfile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorProfile_Id] ON [dbo].[ProfileComments]
(
	[AuthorProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_Profile_Id] ON [dbo].[ProfileComments]
(
	[Profile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileInterest_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_ProfileInterest_Id] ON [dbo].[ProfileInterestUserProfiles]
(
	[ProfileInterest_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserProfile_Id] ON [dbo].[ProfileInterestUserProfiles]
(
	[UserProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorProfile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorProfile_Id] ON [dbo].[ProfileMessages]
(
	[AuthorProfile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profile_Id]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_Profile_Id] ON [dbo].[ProfileMessages]
(
	[Profile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[TopicFlags]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[TopicFlags]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorProfileId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorProfileId] ON [dbo].[Topics]
(
	[AuthorProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Topics]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[TopicVotes]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[TopicVotes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ProfileUserId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_ProfileUserId] ON [dbo].[UserProfiles]
(
	[ProfileUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TownId]    Script Date: 6.5.2015 г. 22:25:44 ч. ******/
CREATE NONCLUSTERED INDEX [IX_TownId] ON [dbo].[UserProfiles]
(
	[TownId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnswerFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerFlags_dbo.Answers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerFlags] CHECK CONSTRAINT [FK_dbo.AnswerFlags_dbo.Answers_AnswerId]
GO
ALTER TABLE [dbo].[AnswerFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerFlags_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AnswerFlags] CHECK CONSTRAINT [FK_dbo.AnswerFlags_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_dbo.Answers_dbo.Topics_TopicId]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.UserProfiles_AuthorProfileId] FOREIGN KEY([AuthorProfileId])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_dbo.Answers_dbo.UserProfiles_AuthorProfileId]
GO
ALTER TABLE [dbo].[AnswerVotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerVotes_dbo.Answers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerVotes] CHECK CONSTRAINT [FK_dbo.AnswerVotes_dbo.Answers_AnswerId]
GO
ALTER TABLE [dbo].[AnswerVotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerVotes_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AnswerVotes] CHECK CONSTRAINT [FK_dbo.AnswerVotes_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommentFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentFlags_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CommentFlags] CHECK CONSTRAINT [FK_dbo.CommentFlags_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommentFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentFlags_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentFlags] CHECK CONSTRAINT [FK_dbo.CommentFlags_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Answers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Answers_AnswerId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.UserProfiles_AuthorProfile_Id] FOREIGN KEY([AuthorProfileId])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.UserProfiles_AuthorProfile_Id]
GO
ALTER TABLE [dbo].[MusicGenreUserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MusicGenreUserProfiles_dbo.MusicGenres_MusicGenre_Id] FOREIGN KEY([MusicGenre_Id])
REFERENCES [dbo].[MusicGenres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MusicGenreUserProfiles] CHECK CONSTRAINT [FK_dbo.MusicGenreUserProfiles_dbo.MusicGenres_MusicGenre_Id]
GO
ALTER TABLE [dbo].[MusicGenreUserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MusicGenreUserProfiles_dbo.UserProfiles_UserProfile_Id] FOREIGN KEY([UserProfile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MusicGenreUserProfiles] CHECK CONSTRAINT [FK_dbo.MusicGenreUserProfiles_dbo.UserProfiles_UserProfile_Id]
GO
ALTER TABLE [dbo].[ProfileComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileComments_dbo.UserProfiles_AuthorProfile_Id] FOREIGN KEY([AuthorProfile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[ProfileComments] CHECK CONSTRAINT [FK_dbo.ProfileComments_dbo.UserProfiles_AuthorProfile_Id]
GO
ALTER TABLE [dbo].[ProfileComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileComments_dbo.UserProfiles_Profile_Id] FOREIGN KEY([Profile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[ProfileComments] CHECK CONSTRAINT [FK_dbo.ProfileComments_dbo.UserProfiles_Profile_Id]
GO
ALTER TABLE [dbo].[ProfileInterestUserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileInterestUserProfiles_dbo.ProfileInterests_ProfileInterest_Id] FOREIGN KEY([ProfileInterest_Id])
REFERENCES [dbo].[ProfileInterests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileInterestUserProfiles] CHECK CONSTRAINT [FK_dbo.ProfileInterestUserProfiles_dbo.ProfileInterests_ProfileInterest_Id]
GO
ALTER TABLE [dbo].[ProfileInterestUserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileInterestUserProfiles_dbo.UserProfiles_UserProfile_Id] FOREIGN KEY([UserProfile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileInterestUserProfiles] CHECK CONSTRAINT [FK_dbo.ProfileInterestUserProfiles_dbo.UserProfiles_UserProfile_Id]
GO
ALTER TABLE [dbo].[ProfileMessages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileMessages_dbo.UserProfiles_AuthorProfile_Id] FOREIGN KEY([AuthorProfile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[ProfileMessages] CHECK CONSTRAINT [FK_dbo.ProfileMessages_dbo.UserProfiles_AuthorProfile_Id]
GO
ALTER TABLE [dbo].[ProfileMessages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProfileMessages_dbo.UserProfiles_Profile_Id] FOREIGN KEY([Profile_Id])
REFERENCES [dbo].[UserProfiles] ([Id])
GO
ALTER TABLE [dbo].[ProfileMessages] CHECK CONSTRAINT [FK_dbo.ProfileMessages_dbo.UserProfiles_Profile_Id]
GO
ALTER TABLE [dbo].[TopicFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopicFlags_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TopicFlags] CHECK CONSTRAINT [FK_dbo.TopicFlags_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TopicFlags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopicFlags_dbo.Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TopicFlags] CHECK CONSTRAINT [FK_dbo.TopicFlags_dbo.Topics_TopicId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.UserProfiles_AuthorProfileId] FOREIGN KEY([AuthorProfileId])
REFERENCES [dbo].[UserProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.UserProfiles_AuthorProfileId]
GO
ALTER TABLE [dbo].[TopicVotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopicVotes_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TopicVotes] CHECK CONSTRAINT [FK_dbo.TopicVotes_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TopicVotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopicVotes_dbo.Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TopicVotes] CHECK CONSTRAINT [FK_dbo.TopicVotes_dbo.Topics_TopicId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfiles_dbo.AspNetUsers_ProfileUserId] FOREIGN KEY([ProfileUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_dbo.UserProfiles_dbo.AspNetUsers_ProfileUserId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfiles_dbo.Towns_TownId] FOREIGN KEY([TownId])
REFERENCES [dbo].[Towns] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_dbo.UserProfiles_dbo.Towns_TownId]
GO
USE [master]
GO
