@{
    ViewBag.Title = "Потвърждаване на регистрацията";
}

<h2>Моля, потвърдете регистрацията си като кликнете на линка, изпратен на посочения от Вас email.</h2>

@section Scripts {
    <script>
        $('body').addClass('confirm-email-page');
    </script>
}