@using Crossroads.Web.ViewModels.AccountViewModels
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Смяна на парола";
}

<h2 class="page-title">Ще Ви бъде изпратена нова парола, с която ще може да се логнете. След това може да я смените от профила си.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="form-group">
        <input class="default-btn" type="submit" value="Изпрати" />
    </div>
}

<script>
        $('body').addClass('reset-password-page');
</script>
