@using Crossroads.Web.ViewModels.ProfileViewModels.Comments
@model AddCommentViewModel
@using (Ajax.BeginForm("PostComment", "ProfileComments",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertBefore,
            UpdateTargetId = "profileComments",
            OnSuccess = "formAndNoCommentsHide('profileCommentForm')"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.ProfileId)
    @Html.EditorFor(m => m.Content)
    <div class="buttons">
        <input class="default-btn" type="submit" value="Изпрати" />
        <a class="refuse-btn" onclick="formHide('profileCommentForm')" href="javascript:void(0)">Откажи</a>
    </div>
}

<script type="text/javascript" language=javascript>
    //ajax only validation not working correctly:
    //tinymce hides the default textarea, so the jquery validator needs to be set to validate hidden fields.
    $.validator.setDefaults({
        ignore: ""
    });
    // for rebinding the validations
    $.validator.unobtrusive.parse('#profileCommentForm');
</script>