/* --- crossroads styles --- */

* { margin: 0; padding: 0; }
body { position: relative; min-height: 100%; min-width: 320px; background: #000; font-size: 15px; color: #fff; font-family: Arial, sans-serif; }

ul { list-style-type: none; }
a { text-decoration: none; outline: 0; }

/* jquery styles */

.ui-multiselect-menu { display: none; }

#profileCommentForm,
#profileMessageForm,
#profileMessages,
#profilesSearchFilter,
edit-profile-comment-form { display: none; }

.new-answer-form, .edit-answer-form,
.new-comment-form, .edit-comment-form { display: none; }

#adminTopicForm { display: none; }

/* jquery multiselect */

.form-group .ui-multiselect { background: #222; line-height: 35px; font-size: 15px; border: none; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form-group .ui-multiselect { color: inherit; }

.ui-multiselect-menu { width: auto !important; max-width: 570px; min-width: 320px; overflow: auto; }
.ui-multiselect-checkboxes li { float: left; width: 50%; }
.ui-multiselect-checkboxes .ui-state-hover { border: none !important; }
.ui-multiselect-checkboxes li label { display: block; padding: 8px; font-size: 13px; }
.ui-multiselect-checkboxes li label span { padding-left: 5px; }

.ui-multiselect-menu .ui-widget-header { position: relative; }
.ui-widget-header .ui-helper-reset { line-height: 40px; }
.ui-widget-header .ui-helper-reset li { display: inline-block; }
.ui-widget-header .ui-helper-reset a { font-size: 13px; }
.ui-widget-header .ui-helper-reset .ui-icon { display: inline-block; vertical-align: -3px; }

.ui-multiselect-all, .ui-multiselect-none { margin-left: 12px; }
.ui-multiselect-all:hover, .ui-multiselect-none:hover { text-decoration: underline; }

a.ui-multiselect-close { position: absolute; top: 50%; right: 5px; margin-top: -15px; width: 30px; height: 30px; }
a.ui-multiselect-close .ui-icon-circle-close { position: absolute; top: 50%; right: 50%; margin-top: -8px; margin-right: -8px; }

@media only screen and (max-width: 880px) and (min-width: 581px) {
    .ui-multiselect-menu { position: absolute !important; left: 50% !important; margin-left: -286px; }
}

@media only screen and (max-width: 580px) {
    .ui-multiselect-menu { position: absolute !important; top: 0 !important; left: 0 !important; }
    .ui-multiselect-checkboxes li { width: 100%; }
    .ui-multiselect-all, .ui-multiselect-none { margin-left: 5px; }
}

@media only screen and (max-width: 400px) {
    .ui-widget-header .ui-helper-reset a { font-size: 12px; }
    .ui-multiselect-all, .ui-multiselect-none { margin-left: 5px; }
    a.ui-multiselect-close .ui-icon-circle-close { margin-right: -13px; }
}

/* layout styles */

.validation-summary-errors { color: #da564b; font-size: 13px; margin: 2px 0; }
.validation-summary-errors ul { list-style-type: disc; list-style-position: inside; }
.validation-summary-errors ul li { margin: 3px 0; }

.error-page #content { min-height: 250px; }
.error-page .text-danger { text-align: center; margin-top: 40px; font-weight: normal; font-size: 32px; line-height: 50px; color: #da564b; }
.error-page .text-danger img { vertical-align: middle; }

.login { position: absolute; right: 5px; top: 5px; width: 300px; }
.logged-user { position: absolute; right: 5px; top: 5px; padding: 10px; background: url(img/login-bg.png) repeat; }
.logged-user a { color: #fff; }
.logged-user .logout-btn { margin-left: 5px; text-decoration: underline; }
.logout-btn:hover { text-decoration: none; }
#loginBtn { float: right; width: 130px; color: #fff; text-align: center; line-height: 48px; font-size: 17px; background: url(img/login-bg.png) repeat; }
#loginFields { display: none; overflow: auto; clear: both; padding: 20px; background: url(img/login-bg.png) repeat; }
#loginFields input[type="text"], #loginFields input[type="password"] { width: 100%; padding: 10px 7px; font-size: 17px; background-color: #dee2dc; border: none; border-radius: 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginFields input[type="text"] { margin-bottom: 5px; }
#loginFields input[type="submit"] { float: right; width: 120px; margin-top: 5px; padding: 10px 0; font-size: 15px; color: #dee2dc; background: #737c7b; border-radius: 3px; border: none; }
.login .remember-me label:hover { text-decoration: underline; }
.login .remember-me { padding: 3px 0 10px 5px; color: #dee2dc; }

.login p a { color: #dee2dc; text-decoration: underline; font-size: 13px; }
.login p a:hover { text-decoration: none; }
.login p { clear: right; line-height: 0; padding: 10px 5px 0 0; text-align: right; }

.logo-wrap h1 { font-weight: normal; font-size: 15px; line-height: 28px; letter-spacing: 0.02em; }

#header { position: relative; }
#navigation { text-transform: uppercase; font-family: Corbel, Calibri, Arial, sans-serif; }
#navigation ul { overflow: auto; }
#navigation ul li a { display: block; color: #636363; }

#logoutFormMobile, .login-btn-mobile { display: none; }

.mobile-menu-btn { display: none; }

h2.page-title { font-size: 20px; line-height: 32px; font-weight: normal; margin: 20px 0 10px 0; }

#content { max-width: 1000px; margin: 0 auto; }
#footer { position: relative; padding: 20px 0 5px 0; color: #474747; font-size: 13px; line-height: 13px; text-indent: 5px; }

@media only screen and (min-width: 1000px) {
    #header { max-width: 1500px; margin: 0 auto; min-height: 595px; background: url( img/bg-image.jpg) no-repeat center top; }
    #navigation { width: 850px; margin: -60px auto 0 auto; position: relative; line-height: 60px; background: url(img/nav-bg.png) repeat; text-align: center; font-size: 18px; }
    #navigation ul li a { padding: 0 35px; }
    #navigation ul li { float: left; }
    #navigation ul li a:hover { background: #070707; }
    .logo-wrap h1 { margin-left: 142px; }
    .logo-wrap { width: 850px; margin: 0 auto; padding: 330px 0 59px 0; }
    .logo-wrap img { margin-left: 100px; }
}

@media only screen and (max-width: 1040px) {
    #content { padding: 0 10px; }
}

@media only screen and (max-width: 999px) and (min-width: 586px) {
    #header { min-height: 448px; background: url( img/bg-image-middle.jpg) no-repeat left top; }
    .logo-wrap { padding: 250px 0 0 175px; height: 150px; }
    .logo-wrap h1 { margin-left: 4.5%; }
    .logo-wrap img { width: 60%; }
    #navigation { margin: -55px auto 0 auto; position: relative; line-height: 60px; background: url(img/nav-bg.png) repeat; text-align: center; font-size: 17px; }
    #navigation ul { display: table; width: 100%; }
    #navigation ul li a:hover { background: #070707; }
    #navigation ul li { display: table-cell; }
    .error-page .text-danger { font-size: 26px; }
}

@media only screen and (max-width: 860px) and (min-width: 586px) {
    .logo-wrap h1 { margin-left: 5.5%; }
    .logo-wrap img { width: 80%; }
}

@media only screen and (max-width: 835px) and (min-width: 670px) {
    #navigation ul li a { padding: 0 22px; font-size: 17px; }
}

@media only screen and (max-width: 669px) and (min-width: 586px) {
    #navigation { line-height: 55px; }
    #navigation ul li a { padding: 0 17px; font-size: 16px; }
}

@media only screen and (max-width: 585px) {
    h2.page-title { margin-top: 0; }
    .login, .logged-user { display: none; }
    .mobile-menu-btn { display: block; position: absolute; right: 10px; top: 10px; width: 30px; }
    #logoutFormMobile { display: block; }
    .hello-user { text-transform: none; display: block; text-align: center; line-height: 40px; color: #fff; }
    .logout-btn-mobile,
    .login-btn-mobile { display: block; margin: 0 8px; background: #0b0b0b; font-size: 14px; text-align: center; color: #3c3c3c; font-size: 17px; }
    .login-btn-mobile { margin-top: 10px; }
    .menu-btn-icon { display: block; height: 1px; background: #fff; border-radius: 20%; }
    .menu-btn-icon + .menu-btn-icon { margin-top: 8px; }
    #header { height: 262px; line-height: 262px; background: url( img/bg-image-small.jpg) no-repeat left top; }
    #content { position: relative; }
    #header.opened, #content.opened, #footer.opened { right: 250px; }
    .logo-wrap { padding: 0 35px 0 20px; display: inline-block; vertical-align: middle; line-height: normal; }
    .logo-wrap h1 { margin-left: 6.5%; }
    .logo-wrap img { width: 100%; max-width: 500px; }
    #navigation { display: none; background: #070707; line-height: 50px; width: 250px; position: absolute; top: 0px; right: 0px; bottom: 0; }
    #navigation.opened { display: block; }
    #navigation ul li { padding: 0 8px; }
    #navigation ul li a { text-indent: 30px; text-indent: 5px; text-align: left; font-size: 14px; border-bottom: 1px solid #0f0f0f; }
    .error-page .text-danger { font-size: 18px; line-height: 0; }
}

/* paging */

.pager { margin-top: 19px; }
.pager .current,
.pager a, .pager .spacer,
.pager .disabled { display: inline-block; margin: 1px 2px 1px 0; width: 30px; line-height: 30px; text-align: center; color: #fff; font-weight: bold; font-size: 12px; border-radius: 2px; }
.pager a { background: #565656; }
.pager .current, .pager .disabled { background: #2f2f2f; }

/* form styles */

.form { color: #888; }
.form-group { padding: 5px 0; font-size: 0; }
.form-group label { display: inline-block; vertical-align: middle; font-size: 15px; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group textarea { vertical-align: middle; font-size: 15px; color: #fff; background: none; border: 1px solid #222; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea { padding: 0 5px; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group .form-drop-down { height: 35px; }

.form-group textarea { overflow: auto; min-height: 100px; }

.form-group .form-drop-down { vertical-align: middle; display: inline-block; overflow: hidden; border: 1px solid #222; border-radius: 2px; background: url('img/drop-down.png') no-repeat center right; background: url('img/drop-down.svg') no-repeat center right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form-group .form-drop-down select { height: 33px; width: 110%; border: none; }
.form-group .form-drop-down select option { background-color: #000; }

.form-radio { font-size: 15px; display: inline-block; vertical-align: middle; }
.form-radio input + input { margin-left: 5px; }

.default-btn,
.refuse-btn { display: inline-block; vertical-align: middle; padding: 0 12px; height: 35px; line-height: 35px; color: #fff; font-size: 16px; border: none; border-radius: 2px; }

.default-btn { cursor: pointer; background: #666; }
.refuse-btn { background: #333; margin-left: 3px; }

.default-input { height: 32px; padding: 0 5px; margin-bottom: 5px; border: 1px solid gray; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.buttons { margin-top: 5px; }

/* about page */

.about-page h2.page-title { font-size: 28px; line-height: 24px; margin: 30px 0; }
.about-page #content h3 { margin: 15px 0; font-size: 18px; font-weight: normal; }
.about-page #content h4 { margin: 10px 0; font-size: 14px; }
.about-page #content ul { list-style-type: disc; list-style-position: inside; }
.about-page #content ul li { margin: 5px 0; text-indent: 5px; }
.about-page #content ul + p { margin-top: 20px; font-size: 13px; font-style: italic; text-indent: 5px; }

/* login page */

.login-page .form { margin: 20px 0; max-width: 450px; }
.login-page .form-group label { width: 35%; }
.login-page .form-group input[type="text"], .login-page .form-group input[type="password"] { width: 65%; }
.login-page .form-group.checkbox { text-align: right; padding-right: 5px; }
.login-page .form-group.checkbox label { width: auto; margin-right: 5px; }
.login-page .form-group input[type="checkbox"] { vertical-align: middle; margin-right: 3px; }
.login-page .form p { margin-top: 5px; }
.login-page .form p a { color: #fff; text-decoration: underline; }
.login-page .form p a:hover { text-decoration: none; }

@media only screen and (max-width: 470px) {
    .login-page h2.page-title { padding-left: 10px; }
    .login-page .form { margin: 0 auto; }
    .login-page .form-group { padding-left: 10px; padding-right: 10px; }
    .login-page .form-group label { width: 100%; margin-bottom: 3px; }
    .login-page .form-group input[type="text"], .login-page .form-group input[type="password"] { width: 100%; }
    .login-page .form p a { margin-left: 10px; }
}

/* register page */

.register-page .form { max-width: 450px; margin: 20px 0; }
.register-page .form-group label { width: 40%; }
.register-page .form-group input[type="text"],
.register-page .form-group input[type="password"] { width: 60%; }
.register-page .form-group.captcha { margin: 10px 0; }
.register-page .form-group.captcha a { display: inline-block; margin: 1px 0 10px 0; text-decoration: underline; font-size: 13px; color: #fff; }
.register-page .form-group.captcha a:hover { text-decoration: none; }
.register-page .form-group #CaptchaInputText1 { width: 100px; }

@media only screen and (max-width: 420px) {
    .register-page h2.page-title { padding-left: 10px; }
    .register-page .form { margin: 0 auto; padding-left: 10px; padding-right: 10px; }
    .register-page .form-group label { width: 100%; margin-bottom: 3px; }
    .register-page .form-group input[type="text"], .register-page .form-group input[type="password"] { width: 100%; }
}

/* search fields */

.search { margin-bottom: 7px; padding: 10px; background: #131313; }
.search form { display: inline-block; font-size: 0; }
.search form + form { margin-left: 5px; }
.search form input { vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.search form input[type="text"] { height: 34px; padding: 0 5px; background: none; border: 1px solid #222; color: #fff; font-size: 15px; border-radius: 2px; }
.search form input[type="submit"] { height: 34px; margin-left: 3px; padding: 0 10px; background: #0c0c0c; color: #555; font-size: 12px; text-transform: uppercase; border: none; border-radius: 2px; }

/* home page */

.profiles-page .search form input[type="text"] { width: 164px; }

@media only screen and (max-width: 1020px) {
    .profiles-page .search form { display: block; margin-left: 0; max-width: 550px; }
    .profiles-page .search form + form { margin-top: 4px; }
}

@media only screen and (max-width: 1020px) and (min-width: 380px) {
    .profiles-page .search form input[type="text"] { width: 60%; }
    .profiles-page .search form input[type="submit"] { width: 39%; margin-left: 1%; }
}

@media only screen and (max-width: 440px) {
    .profiles-page .search form input[type="submit"] { font-size: 10px; }
    .profiles-page .search form input[type="text"] { width: 55%; }
    .profiles-page .search form input[type="submit"] { width: 44%; margin-left: 1%; }
}

@media only screen and (max-width: 360px) {
    .profiles-page .search form input[type="submit"] { font-size: 9px; }
}

.advanced-search-btn { font-size: 14px; text-decoration: underline; color: #888; }

.profiles-page .form { margin-top: 10px; }

.profiles-page .form-group { max-width: 500px; }
.profiles-page .form-group label { width: 35%; }

.profiles-page .form-group input[type="text"],
.profiles-page .form-group .form-drop-down,
.profiles-page .form-group .form-radio,
.profiles-page .form-textarea,
.profiles-page .age { width: 65%; }

.form-group .age { display: inline-block; }
.profiles-page .form-group input[type="text"] { min-width: 250px; }
.profiles-page .form-group .age .form-drop-down { width: 80px; }
.profiles-page .form-group .age .form-drop-down + div { margin-left: 10px; }
.profiles-page .form-group .age select { width: 115px; }

.profiles-page .form-group .ui-multiselect { width: 65% !important; }

@media only screen and (max-width: 450px) {
    .profiles-page .form-group label { width: 100%; margin-bottom: 3px; }
    .profiles-page .form-group input[type="text"],
    .profiles-page .form-group .form-drop-down,
    .profiles-page .form-group .form-radio,
    .profiles-page .form-textarea,
    .profiles-page .age { width: 100%; }
    .profiles-page .form-group .ui-multiselect { width: 100% !important; }
}

.profiles-page #profiles { overflow: auto; margin-top: 10px; }
.profiles-page .profile-wrap { display: inline-block; font-size: 0; width: 132px; margin: 5px; }
.profiles-page .profile { font-size: 13px; padding: 10px 0; text-align: center; background-color: #0d0d0d; }
.profiles-page .profile:hover { background-color: #111111; }
.profiles-page .profile .avatar-wrap { display: table; width: 100px; font-size: 0; margin: 0 auto; }
.profiles-page .profile .avatar { display: table-cell; vertical-align: middle; text-align: center; height: 100px; width: 100px; background: #000; }
.profiles-page .profile img { max-height: 100px; }
.profiles-page .profile .user { display: block; color: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.profiles-page .profile strong { display: block; font-size: 11px; margin-top: 5px; }
.profiles-page .profile .online { color: #37b202; }
.profiles-page .profile .offline { color: #3c3c3c; }

@media only screen and (max-width: 1009px) {
    #profiles { text-align: center; }
}

/* display profile */

.display-profile-page h2.page-title { display: inline-block; }
.display-profile-page .profile-user-name { margin-right: 5px; }
.display-profile-page .profile-online,
.display-profile-page .profile-offline { display: inline-block; vertical-align: 4px; line-height: 21px; padding: 0 5px; font-size: 12px; border-radius: 2px; }
.display-profile-page .profile-online { background: #37b202; }
.display-profile-page .profile-offline { background: #777; }
.display-profile-page .edit-profile { color: #fff; margin-left: 5px; font-size: 16px; text-decoration: underline; }
.display-profile-page .edit-profile:hover { text-decoration: none; }

.display-profile-page .default-btn.send-message { float: right; height: 40px; line-height: 40px; margin-top: 16px; }

.display-profile-page #unreadMessages { float: right; margin-top: 16px; line-height: 40px; text-align: right; }
.display-profile-page #unreadMessages a { display: inline-block; margin-bottom: 3px; margin-left: 8px; width: 80px; background: #737373; text-align: center; padding: 0; }

.display-profile-page #profileMessages { margin-top: -2px; border-radius: 2px; overflow: hidden; position: relative; }
.display-profile-page .message-heading { padding: 10px; }
.display-profile-page .message-heading.msg-not-read { background: #fff; color: #000; }
.display-profile-page .message-heading a { float: right; color: inherit; text-decoration: underline; font-size: 13px; }
.display-profile-page .message-heading a:hover { text-decoration: none; }
.display-profile-page .message-heading a + a { margin-right: 7px; }
.display-profile-page .message:nth-child(2n+1) { background: #666; }
.display-profile-page .message:nth-child(2n) { background: #333; }
.display-profile-page .message.msg-not-read { background: #ffd800; }
.display-profile-page .msg-container { display: none; padding: 0 5px 5px 5px; background: #fff; color: #000; }
.display-profile-page .msg-content { padding: 10px 5px; }
.display-profile-page .msg-content a { color: #555; text-decoration: underline; }
.display-profile-page .msg-info { line-height: 30px; font-size: 0; }
.display-profile-page .msg-info img { max-height: 30px; vertical-align: middle; }
.display-profile-page .msg-info a { vertical-align: middle; color: #555; font-size: 15px; margin: 0 5px; }
.display-profile-page .msg-info a:hover { text-decoration: underline; }
.display-profile-page .msg-info span { vertical-align: middle; font-style: italic; font-size: 12px; }

@media only screen and (min-width: 481px) {
    .display-profile-page .message-heading .msg-title { padding-right: 10px; min-width: 280px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
}

@media only screen and (max-width: 780px) {
    .display-profile-page #unreadMessages { float: none; display: block; margin-top: 0; background: #555; line-height: 35px; padding-left: 10px; }
    .display-profile-page #unreadMessages a { margin-bottom: 0; border-radius: 0; }
    .display-profile-page #profileMessages { margin-top: 0; border-radius: 0; }
}

@media only screen and (max-width: 480px) {
    .display-profile-page .message-heading .msg-title span { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
}

@media only screen and (max-width: 585px) {
    .display-profile-page h2.page-title { display: block; text-align: center; }
    .display-profile-page .default-btn.send-message { float: none; display: block; width: 145px; margin: 0 auto; text-align: center; }
    #profileMessageForm { margin-top: 10px; }
    #profileMessageForm .default-input { width: 100%; }
}

.display-profile-page h3 { overflow: auto; padding: 7px 10px; margin: 10px 0; color: #888; background: #151515; font-weight: normal; font-size: 18px; border-radius: 2px; }
.profile-info-right h3 { margin-top: 0; }
.profile-info-right { overflow: auto; }

.display-profile-page .profile-info { margin-top: 15px; overflow: auto; clear: both; }
.display-profile-page .profile-image { margin: 0 15px 10px 0; float: left; text-align: center; }

.profile-info-middle { clear: both; }

.display-profile-page .profile-info-group { padding: 5px; }
.display-profile-page .profile-info-group strong { padding-right: 5px; }

@media only screen and (max-width: 640px) {
    .display-profile-page .profile-image { float: none; text-align: center; }
}

.display-profile-page .add-comment-btn { float: right; font-size: 14px; line-height: 22px; color: #555; text-decoration: underline; }
.display-profile-page #profileCommentForm { margin-bottom: 10px; }

.display-profile-page .profile-comment { display: table; width: 100%; margin-bottom: 5px; border: 1px solid #151515; position: relative; }
.display-profile-page .left-comment-wrap { display: table-cell; width: 120px; padding: 10px 0; text-align: center; border-right: 1px solid #151515; text-align: center; }
.display-profile-page .left-comment-wrap img { vertical-align: middle; }
.display-profile-page .left-comment-wrap .comment-btns { padding-top: 5px; }
.display-profile-page .left-comment-wrap .comment-btns a { display: block; margin: 5px 26px 0 26px; line-height: 26px; font-size: 14px; color: #888; background: #151515; border-radius: 2px; }

.display-profile-page .comment-info-wrap { display: table-cell; vertical-align: top; padding: 10px; }
.display-profile-page .comment-author-date { margin-bottom: 10px; }
.display-profile-page .comment-author-date a { color: #888; }
.display-profile-page .comment-author-date a:hover { text-decoration: underline; }
.display-profile-page .comment-author-date em { font-size: 13px; }
.display-profile-page .comment-content a { color: #555; }
.display-profile-page .comment-content a:hover { text-decoration: underline; }
.display-profile-page .edit-profile-comment-form { margin-bottom: 10px; }

.display-profile-page #profileCommentForm .default-btn,
.display-profile-page #profileCommentForm .refuse-btn,
.display-profile-page .edit-profile-comment-form .default-btn,
.display-profile-page .edit-profile-comment-form .refuse-btn { padding: 0 7px; height: 32px; line-height: 32px; }
.display-profile-page .refuse-btn { margin-left: 5px; }

@media only screen and (max-width: 450px) {
    .display-profile-page .left-comment-wrap { width: 25%; padding: 5px; }
    .display-profile-page .left-comment-wrap img { width: 100%; }
    .display-profile-page .left-comment-wrap .comment-btns a { margin-left: 3%; margin-right: 3%; }
    .display-profile-page .left-comment-wrap .display-profile-page .comment-info-wrap { width: 75%; }
}

/* edit profile */

.edit-profile-page .form-group { width: 60%; }
.edit-profile-page .form-group label { width: 40%; }

.edit-profile-page .form-group input[type="text"],
.edit-profile-page .form-group input[type="password"],
.edit-profile-page .form-group .form-drop-down,
.edit-profile-page .form-group .form-radio,
.edit-profile-page .form-textarea { width: 60%; }
.edit-profile-page .form-textarea { display: inline-block; }
.edit-profile-page .form-textarea textarea { width: 100%; }

.edit-profile-page .form-group .ui-multiselect { width: 60% !important; }

.edit-profile-page .form-group.image-group { float: right; font-size: 15px; width: 40%; text-align: center; }
.edit-profile-page .form-group.image-group label { width: 100%; margin-bottom: 10px; }
.choose-image { position: relative; margin-top: 10px; }
.choose-image .file-input-mask,
.choose-image input[type="file"] { width: 160px; line-height: 35px; background: red; }
.choose-image input[type="file"] { opacity: 0; filter: alpha(opacity=0); }
.choose-image .file-input-mask { z-index: -1; position: absolute; left: 50%; margin-left: -80px; text-align: center; background: #0f0f0f; border-radius: 2px; }
.choose-image #inputFileName { padding: 10px 20px; -ms-word-wrap: break-word; word-wrap: break-word; }

@media only screen and (max-width: 850px) and (min-width: 660px) {
    .edit-profile-page .form-group { width: 52%; }
    .edit-profile-page .form-group.image-group { width: 48%; }
    .edit-profile-page .form-group label,
    .edit-profile-page .form-group input[type="text"],
    .edit-profile-page .form-group input[type="password"],
    .edit-profile-page .form-group .form-drop-down,
    .edit-profile-page .form-group .form-radio,
    .edit-profile-page .form-textarea { width: 100%; }
    .edit-profile-page .form-group .ui-multiselect { width: 100% !important; }
    .edit-profile-page .form-group { padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    .edit-profile-page .form-group label { margin-bottom: 3px; }
}

@media only screen and (max-width: 659px) {
    .edit-profile-page h2.page-title { text-align: center; }
    .edit-profile-page .form-group { width: 100%; }
    .edit-profile-page .form-group.image-group { float: none; width: 100%; }
}

@media only screen and (max-width: 450px) {
    .edit-profile-page .form-group label,
    .edit-profile-page .form-group input[type="text"],
    .edit-profile-page .form-group input[type="password"],
    .edit-profile-page .form-group .form-drop-down,
    .edit-profile-page .form-group .form-radio,
    .edit-profile-page .form-textarea { width: 100%; }
    .edit-profile-page .form-group .ui-multiselect { width: 100% !important; }
    .edit-profile-page .form-group label { margin-bottom: 3px; }
}

/* forum - categories */

.forum-page .search { margin-bottom: 16px; }
.forum-page .top-links { margin-bottom: 8px; line-height: 14px; }
.forum-page .top-links a { display: inline-block; margin-left: 5px; color: #fff; color: #444; font-size: 14px; text-decoration: underline; }
.forum-page .top-links a:hover { text-decoration: none; }

@media only screen and (max-width: 580px) {
    .search form { display: block; width: 100%; max-width: 420px; margin-bottom: 3px; font-size: 0; }
    .search form + form { margin-left: 0; }
    .search form input[type="text"] { width: 68%; }
    .search form input[type="submit"] { width: 31%; margin-left: 1%; }
}

.forum-page .forum-table { color: #474747; background: #070707; }
.forum-page .forum-table .col { padding: 10px; }
.forum-page .forum-table .row:nth-child(2n+1) { background: #050505; }
.forum-page .forum-table .category a { font-size: 18px; color: #fff; }
.forum-page .forum-table .category a:hover { text-decoration: underline; }
.forum-page .forum-table .category span { display: block; margin-top: 5px; font-size: 13px; }

.forum-page .topic-wrap { display: table; }
.forum-page .topic-wrap .author-img { display: table-cell; vertical-align: middle; width: 50px; padding-right: 10px; font-size: 0; }
.forum-page .topic-info { display: table-cell; vertical-align: top; font-size: 14px; }
.forum-page .topic-link { display: block; margin-bottom: 3px; color: #fff; font-size: 1.1em; }
.forum-page .topic-link:hover { text-decoration: underline; }
.forum-page .profile-link { color: inherit; text-decoration: underline; font-size: 14px; }
.forum-page .profile-link:hover { text-decoration: none; }
.forum-page .topic-info span { font-size: 13px; }

@media only screen and (min-width: 760px) {
    .forum-page .forum-table { display: table; table-layout: fixed; }
    .forum-page .forum-table .col { display: table-cell; vertical-align: top; }
    .forum-page .forum-table .row { display: table-row; }
    .forum-page .forum-table .category { width: 35%; }
    .forum-page .forum-table .last-topic { width: 45%; }
    .forum-page .forum-table .topic-answer-count { width: 20%; text-align: right; }
}

@media only screen and (max-width: 759px) {
    .forum-page .forum-table .topic-answer-count { padding-top: 0; padding-bottom: 0; }
    .forum-page .forum-table .topic-answer-count p { display: inline-block; }
    .forum-page .topic-info { vertical-align: middle; }
}

/* forum top users */

.top-users-page .top-users { width: 100%; }
.top-users-page .top-users:after { content: "\0020"; display: block; height: 0; clear: both; }
.top-users-page .top-users .top-users-col + .top-users-col { margin-left: 2%; }
.top-users-page .top-users .top-users-col { float: left; width: 32%; }
.top-users-page .top-users .top-users-col ul li { display: table; height: 60px; width: 100%; margin-bottom: 10px; border: 1px solid #0f0f0f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-users-page .top-users .top-users-col ul li .top-user-img { display: table-cell; vertical-align: middle; width: 60px; height: 60px; text-align: center; border-right: 1px solid #0f0f0f; font-size: 0; }
.top-users-page .top-users .top-users-col ul li .top-user-img img { max-height: 50px; }
.top-users-page .top-users .top-users-col ul li .top-user-info { display: table-cell; vertical-align: top; padding: 5px; overflow: auto; color: #474747; }
.top-users-page .top-users .top-users-col ul li .top-user-info h4 { color: #fff; }
.top-users-page .top-users .top-users-col ul li .top-user-info a { color: inherit; text-decoration: underline; }
.top-users-page .top-users .top-users-col ul li .top-user-info a:hover { text-decoration: none; }

@media only screen and (max-width: 700px) and (min-width: 560px) {
    .top-users-page .top-users .top-users-col ul li .top-user-img { width: 50px; height: 50px; }
    .top-users-page .top-users .top-users-col ul li .top-user-info { font-size: 14px; }
    .top-users-page .top-users-col ul li .top-user-img img { max-width: 40px; max-height: 40px; }
}

@media only screen and (max-width: 559px) {
    .top-users-page .top-users .top-users-col { float: none; width: 100%; }
    .top-users-page .top-users .top-users-col + .top-users-col { margin-left: 0; }
}

/* forum - topics */

.topics-page h2.page-title { display: inline-block; }
.topics-page .topics { color: #474747; }
.topics-page .topic-sort-options { line-height: 28px; }
.topics-page .topic-sort-options a { color: inherit; text-decoration: underline; }
.topics-page .topic-sort-options a:hover { text-decoration: none; }
.topics-page .topic-sort-options a + a { margin-left: 5px; }
.topics-page .default-btn.add-topic { float: right; height: 40px; line-height: 40px; margin-top: 16px; }
.topics-page .topic { overflow: auto; border-bottom: 1px solid #0a0a0a; padding: 5px 0; }

.topics-page .topic-statistic { float: left; }
.topics-page .topic-statistic div { font-size: 13px; text-align: center; background: #0b0b0b; }
.topics-page .topic-statistic strong { display: block; font-size: 26px; }

.topics-page .topic-content { overflow: auto; padding: 0 10px; line-height: 19px; font-size: 14px; }
.topics-page .topic-content .topic-title { display: inline-block; color: #fff; font-size: 17px; line-height: 24px; margin: 6px 0; text-decoration: none; }
.topics-page .topic-content .topic-title:hover { text-decoration: underline; }
.topics-page .topic-content .author-link { color: inherit; text-decoration: underline; }
.topics-page .topic-content a:hover { text-decoration: none; }
.topics-page .topic-content span { font-size: 13px; }

@media only screen and (max-width: 585px) {
    .topics-page .default-btn.add-topic { margin-top: 0; }
}

@media only screen and (min-width: 760px) {
    .topics-page .topic-statistic { width: 242px; }
    .topics-page .topic-statistic div { float: left; width: 80px; line-height: 24px; padding: 16px 0; }
    .topics-page .topic-statistic div + div { margin-left: 1px; }
    .topics-page .topic-content .topic-title { max-width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
}

@media only screen and (max-width: 759px) {
    .topics-page.forum .topic-statistic { width: 80px; }
    .topics-page.forum .topic-statistic div { float: left; width: 80px; padding: 5px 0; }
    .topics-page.forum .topic-statistic div + div { margin-top: 1px; }
    .topics-page.forum .topic-statistic strong { font-size: 20px; }
    .topics-page.forum .topic-content .topic-title { line-height: 20px; }
}

@media only screen and (max-width: 580px) {
    .topics-page.forum .topic-sort-options { margin-top: 10px; }
    .topics-page.forum .topic-sort-options a { font-size: 13px; }
}

@media only screen and (max-width: 420px) {
    .topics-page .forum .topic-sort-options { text-align: center; }
    .topics-page .forum .topic-sort-options a { margin: 0; }
}

/* forum top topics */

.topics-page.top .topic-content a.topic-title { margin: 1px 0; line-height: 20px; }
.topics-page.top .topic-content h4 { color: #fff; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/* topic details page */

.topic,
.answer,
.comment { position: relative; display: table; width: 100%; }

.answer-wrap:nth-child(2n+1) { background: #050505; }
.answer-wrap:nth-child(2n) { background: #070707; }
.comment-container { padding-bottom: 5px; }

.item-left { color: #777; }

.votes span { display: inline-block; vertical-align: middle; font-size: 42px; }
.votes div { display: inline-block; vertical-align: middle; }
.votes .vote { display: block; width: 0; height: 0; }
.votes .vote.up { margin-bottom: 8px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #777; }
.votes .vote.down { margin-top: 8px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 12px solid #777; }

.vote-error { z-index: 1; position: absolute; left: 50%; top: 30px; margin-left: -200px; width: 400px; padding: 15px; font-size: 15px; text-align: center; font-weight: normal; color: #da564b; background: #fff; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.vote-error a { display: block; margin: auto; width: 60px; line-height: 35px; margin-top: 10px; background-color: #da564b; color: #fff; text-align: center; }

.views, .flags, .answersCount { font-size: 13px; }

.item-details { padding: 10px 10px 50px 0; }
.author-info { margin-bottom: 10px; color: #777; }
.author-info a { text-decoration: underline; color: #777; }
.author-info a:hover { text-decoration: none; }
.author-info em { font-size: 13px; }
.item-content { text-align: justify; -ms-word-break: break-all; word-break: break-all; }
.item-details .item-content a { color: #777; }
.item-details .item-content a:hover { text-decoration: underline; }

.item-btns { position: absolute; right: 10px; bottom: 10px; font-size: 0; }
.item-btns a + a { margin-left: 5px; }

.flag-btn { background: url(img/flag.png) no-repeat right center; background: url(img/flag.svg) no-repeat right center; }
.new-answer-btn { background: url(img/answer.png) no-repeat right center; background: url(img/answer.svg) no-repeat right center; }
.new-comment-btn { background: url(img/comment.png) no-repeat right center; background: url(img/comment.svg) no-repeat right center; }
.edit-btn { background: url(img/edit.png) no-repeat right center; background: url(img/edit.svg) no-repeat right center; }
.delete-btn { background: url(img/delete.png) no-repeat right center; background: url(img/delete.svg) no-repeat right center; }

.flag-btn,
.new-answer-btn,
.new-comment-btn,
.edit-btn,
.delete-btn { display: inline-block; width: 62px; line-height: 26px; background-color: #555; border-right: 10px solid #555; padding: 0 20px 0 10px; color: #ccc; font-size: 14px; border-radius: 2px; }

.topic-details-page .page-title { margin: 15px 10px; font-size: 26px; font-weight: normal; }
.topic-details-page .answers-label { text-indent: 10px; background: #0b0b0b; color: #444; font-size: 14px; line-height: 32px; font-weight: normal; text-transform: uppercase; }
.topic-details-page .answer-comments { margin: 0 10px 0 120px; }

.comment { border: 1px solid #0a0a0a; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.topic-details-page .edit-answer-form,
.topic-details-page .new-comment-form { padding: 0 10px; }
.topic-details-page .edit-comment-form { padding-top: 5px; }
.topic-details-page .edit-answer-form { padding-bottom: 10px; }

@media only screen and (min-width: 550px) {
    .item-left { width: 120px; padding: 10px 0; display: table-cell; text-align: center; color: #777; }
    .item-details { display: table-cell; vertical-align: top; padding: 10px 10px 46px 0; }
    .comment .item-left { width: 80px; border-right: 1px solid #0a0a0a; }
    .comment .item-details { padding-left: 10px; }
}

@media only screen and (max-width: 549px) {
    .answer-wrap:nth-child(2n+1) { background: #0b0b0b; }
    .answer-wrap:nth-child(2n) { background: #111; }

    .item-left > a { float: left; width: 15%; padding: 5px; text-align: center; vertical-align: middle; font-size: 0; }
    .item-left > a img { max-width: 100%; }
    .votes, .views, .flags, .answersCount { display: inline-block; vertical-align: middle; }
    .votes { padding: 0 10px; }
    .views:after { content: ", "; margin-left: -3px; }
    .topic-details-page .answer-comments { margin-left: 10px; }
    .author-info { font-size: 13px; }
    .item-details { padding-left: 10px; overflow: auto; }
    .comment { border-color: #1a1a1a; }
    .comment .flags { padding-left: 10px; }

    .item-btns a + a { margin-left: 3px; }
    .flag-btn, .new-answer-btn, .new-comment-btn, .edit-btn, .delete-btn { font-size: 13px; width: 55px; padding-left: 5px; border-right-width: 5px; }

    .vote-error { margin-left: -140px; max-width: 280px; font-size: 13px; }
}

/* add topic page, edit topic page */

.add-topic-page #content { padding-top: 30px; }
.edit-topic-page .edit-topic { padding: 40px 0; }

.add-topic-page .default-input,
.edit-topic-page .default-input { width: 260px; }

@media only screen and (max-width: 500px) {
    .add-topic-page .default-input,
    .edit-topic-page .default-input { width: 100%; }
}

/* ADMINISTRATION */

#mobileNavBtn { display: none; }
#adminNav { line-height: 30px; overflow: auto; background: #222; }
#adminNav ul li a { display: block; color: #777; font-size: 14px; }
#adminNav ul li:hover,
#adminNav ul li.active { background: #161616; }

@media only screen and (min-width:640px) {
    #adminNav { display: block !important; }
    #adminNav ul { display: table; width: 100%; }
    #adminNav ul li { display: table-cell; text-align: center; border-right: 1px solid #111; }
}

@media only screen and (max-width:800px) and (min-width: 620px) {
    #adminNav ul li a { font-size: 12px; }
}

@media only screen and (max-width: 639px) {
    #mobileNavBtn { display: block; padding: 5px 10px; line-height: 32px; text-align: center; color: #777; background: #222; }
    #adminNav { display: none; }
    #adminNav ul li { border-top: 1px solid #111; }
    #adminNav ul li a { padding: 5px 10px; }
}

@media only screen and (max-width: 585px) {
    #mobileNavBtn { text-transform: uppercase; }
}

.admin .show-btns { line-height: 28px; margin-top: 15px; }
.admin .show-btns a { color: #474747; text-decoration: underline; font-weight: normal; font-size: 14px; vertical-align: 2px; }
.admin .show-btns a:hover { text-decoration: none; }
.admin .show-btns a + a { margin-left: 5px; }

.admin .admin-filter { font-size: 0; max-width: 500px; }
.admin .admin-filter form { margin-bottom: 8px; }
.admin .admin-filter input[type="text"] { vertical-align: middle; height: 34px; padding: 0 5px; background: none; border: 1px solid #0f0f0f; color: #fff; font-size: 15px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.admin .admin-filter input[type="submit"] { width: 34%; margin-left: 1%; vertical-align: middle; height: 34px; padding: 0 10px; background: #777; color: #fff; font-size: 12px; text-transform: uppercase; border: none; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.admin .admin-filter input[type="text"],
.admin .admin-filter .admin-drop-down { width: 65%; }

.admin .admin-drop-down { vertical-align: middle; height: 34px; display: inline-block; overflow: hidden; border: 1px solid #0f0f0f; border-radius: 2px; background: url('img/drop-down.png') no-repeat center right; background: url('img/drop-down.svg') no-repeat center right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.admin .admin-drop-down select { vertical-align: middle; height: 34px; width: 110%; font-size: 15px; color: #fff; border: none; background: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.admin .admin-drop-down select option { background-color: #000; }

@media only screen and (max-width:500px) and (min-width: 410px) {
    .admin .admin-filter input[type="submit"] { font-size: 10px; }
}

@media only screen and (max-width:409px) {
    .admin .admin-filter input[type="submit"] { font-size: 9px; width: 39%; }
    .admin .admin-filter input[type="text"],
    .admin .admin-filter .admin-drop-down { width: 60%; }
}

.admin-add-item { display: inline-block; margin-left: 4px; vertical-align: middle; line-height: 34px; padding: 0 13px; background: #777; color: #fff; font-size: 12px; text-align: center; letter-spacing: 0.05em; text-transform: uppercase; border: none; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* admin topics page */

.topics-page.admin h2.page-title { margin: 10px 0 0 5px; font-size: 26px; }

.topics-page.admin .topics { border-top: 1px solid #0a0a0a; }
.topics-page.admin .topic-statistic { width: 323px; }
.topics-page.admin .topic-statistic .topics-page.admin .topic-content .topic-title { margin: 5px 0 0 0; line-height: 20px; }
.topics-page.admin .topic-content h4 { font-size: 14px; line-height: 14px; margin-bottom: 10px; }

.topic-details-page.admin h2.page-title { margin-bottom: 5px; }
.topic-details-page.admin h2.page-title a { color: inherit; border-bottom: 1px solid #fff; }
.topic-details-page.admin h2.page-title a:hover { border-bottom: none; }
.topic-details-page.admin h3 { font-size: 17px; margin: 5px 0 10px 10px; }

.edit-topic-page.admin .edit-topic-form-group { margin: 5px 0; font-size: 0; }
.edit-topic-page.admin .edit-topic-form-group input { margin: 0; display: inline-block; vertical-align: middle; }
.edit-topic-page.admin .edit-topic-form-group select { vertical-align: middle; margin: 0; }
.edit-topic-page.admin .edit-topic-form-group label { display: inline-block; vertical-align: middle; width: 90px; font-size: 16px; }
.edit-topic-page.admin .edit-topic-form-group + .edit-topic-form-group { margin-bottom: 10px; }

@media only screen and (max-width: 759px) {
    .topics-page.admin .topic-statistic { width: 100%; overflow: auto; }
    .topics-page.admin .topic-statistic div { float: left; width: 25%; }
    .topics-page.admin .topic-statistic strong { display: inline-block; vertical-align: middle; font-size: 18px; }
    .topics-page.admin .topic-content .topic-title { margin-bottom: 2px; }
    .topics-page.admin .topic-content h4 { margin-bottom: 8px; }
    .topics-page.admin .topic { padding: 1px 0; }
    .topics-page.admin .topic-content { padding-bottom: 3px; }
}

@media only screen and (max-width: 499px) {
    .topics-page.admin .topic-statistic strong { display: block; font-size: 14px; }
}

/* admin answers and comments page */

.answers-page.admin .item-left { width: 120px; font-size: 13px; }
.answers-page.admin .answer-wrap { padding-bottom: 0; }
.answers-page.admin .buttons .refuse-btn,
.comments-page.admin .buttons .refuse-btn { color: #fff; }

h4.admin-item-topic-title { line-height: 22px; font-size: 14px; font-weight: normal; }
h4.admin-item-topic-title a { color: #fff; text-decoration: underline; font-weight: bold; }
h4.admin-item-topic-title a:hover { text-decoration: none; }
.admin-item-info { display: inline-block; margin-bottom: 5px; color: #777; }
.admin-item-info a { color: inherit; text-decoration: underline; }
.admin-item-info a:hover { text-decoration: none; }

.comments-page.admin .item-left { width: 120px; }

@media only screen and (max-width: 549px) {
    .answers-page.admin .item-left, .comments-page.admin .item-left { width: auto; }
}

/* forum categories page */

.forum-categories-page .sort-by { color: #474747; padding: 15px 0 5px 5px; }
.forum-categories-page .sort-by a { display: inline-block; vertical-align: 2px; margin-left: 3px; color: inherit; text-decoration: underline; font-weight: normal; font-size: 14px; }
.forum-categories-page .sort-by a:hover { text-decoration: none; }

.forum-categories-page .category { padding: 10px; overflow: auto; }
.forum-categories-page .category:nth-child(2n+1) { background: #050505; }
.forum-categories-page .category:nth-child(2n) { background: #070707; }
.forum-categories-page .category h4 { color: #fff; font-size: 18px; }
.forum-categories-page .category .category-description { color: #474747; font-size: 13px; margin: 3px 0 13px 0; }
.forum-categories-page .category span { color: #999; font-size: 13px; }
.forum-categories-page .item-btns { position: initial; float: right; }

.forum-categories-page .default-input { margin-top: 10px; }
.forum-categories-page .category-textarea textarea { border: 1px solid gray; border-radius: 3px; width: 100%; max-width: 585px; min-height: 100px; padding: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.forum-categories-page .buttons { margin-top: 5px; }
.forum-categories-page .buttons .refuse-btn { margin-left: 0; }

@media only screen and (max-width: 585px) {
    .forum-categories-page h2.page-title { margin-top: 20px; text-align: center; }
    .forum-categories-page .default-input { width: 100%; }
    .forum-categories-page .admin-add-item { display: block; margin: 0 auto; width: 180px; }
}

@media only screen and (max-width:380px) {
    .forum-categories-page .item-btns { float: none; margin-top: 3px; }
}

/* towns page, music genres page, intesests page */

.towns-page #addTownForm { margin: 10px 0; }
.towns-page #addTownForm .default-input { width: 250px; }
.towns-page .default-input,
.music-genres-page .default-input,
.interests-page .default-input { vertical-align: middle; height: 35px; font-size: 20px; margin-bottom: 0; }
.towns-page .refuse-btn,
.music-genres-page .refuse-btn,
.interests-page .refuse-btn,
.towns-page .default-btn,
.music-genres-page .default-btn,
.interests-page .default-btn { vertical-align: middle; margin-left: 3px; }

@media only screen and (max-width: 585px) {
    .towns-page h2.page-title,
    .music-genres-page h2.page-title,
    .interests-page h2.page-title { margin-top: 20px; }
}

@media only screen and (max-width: 480px) {
    .towns-page h2.page-title,
    .music-genres-page h2.page-title,
    .interests-page h2.page-title { margin-top: 10px; text-align: center; }

    .towns-page #addTownForm,
    .music-genres-page #addGenreForm,
    .interests-page #addGenreForm { text-align: right; }

    .towns-page #addTownForm .validation-summary-errors ul li,
    .music-genres-page #addGenreForm .validation-summary-errors ul li,
    .interests-page #addGenreForm .validation-summary-errors ul li { text-align: left; }

    .towns-page #addTownForm .default-input,
    .music-genres-page #addGenreForm .default-input,
    .interests-page #addInterestForm .default-input { width: 100%; margin-bottom: 5px; }

    .towns-page .admin-add-item,
    .music-genres-page .admin-add-item,
    .interests-page .admin-add-item { display: block; margin: 0 auto; width: 180px; }

    .towns-page .refuse-btn,
    .music-genres-page .refuse-btn,
    .interests-page .refuse-btn,
    .towns-page .default-btn,
    .music-genres-page .default-btn,
    .interests-page .default-btn { vertical-align: middle; margin-left: 0; }
}

.sort-items { color: #474747; display: inline-block; margin: 10px 0 5px 0; font-size: 14px; text-decoration: underline; }
.sort-items:hover { text-decoration: none; }

.boxes { overflow: auto; }
.boxes > li { position: relative; float: left; width: 50%; padding: 10px; background: #131313; border-right: 1px solid #000; border-bottom: 1px solid #000; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.boxes > li .box { font-size: 22px; margin-bottom: 18px; line-height: 35px; }
.boxes .edit-item { position: relative; font-size: 0; padding-right: 161px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.box .default-btn { position: absolute; right: 73px; width: 85px; padding: 0; }
.box .refuse-btn { position: absolute; right: 0; width: 70px; padding: 0; text-align: center; }

.boxes .default-input { width: 100%; }
.boxes .validation-summary-errors { font-size: 12px; position: absolute; z-index: 1; bottom: 23px; left: 10px; right: 0; }

@media only screen and (max-width: 660px) {
    .boxes li { width: 100%; }
}

@media only screen and (max-width: 400px) {
    .boxes li { padding: 5px; }
    .boxes li .box { }
    .boxes .default-input { font-size: 15px; }
    .boxes .validation-summary-errors { bottom: 13px; }
}

/* users admin page */

.users-page.admin .admin-filter { margin-bottom: 20px; max-width: 400px; }

@media only screen and (max-width: 585px) {
    .users-page.admin h2.page-title { margin-top: 10px; }
    .users-page.admin .admin-filter input[type="submit"] { font-size: 12px; }
}

.users-page.admin .users-table .user-name { color: inherit; text-decoration: underline; }
.users-page.admin .users-table .user-name:hover { text-decoration: none; }
.users-page.admin .users-table .user-details-btn { padding: 4px 10px; background: #555; color: #fff; border-radius: 2px; }

@media only screen and (min-width: 740px) {
    .users-page.admin .users-table { display: table; border-collapse: collapse; table-layout: fixed; width: 100%; }
    .users-page.admin .users-table .users-haed-row { display: table-row; }
    .users-page.admin .users-table .user-name-th { width: 24%; }
    .users-page.admin .users-table .last-activity-th { width: 22%; }
    .users-page.admin .users-table .user-details-th { width: 12%; }
    .users-page.admin .users-table .users-haed-row a { color: inherit; text-decoration: underline; }
    .users-page.admin .users-table .users-haed-row a:hover { text-decoration: none; }
    .users-page.admin .users-table .users-haed-row div { display: table-cell; padding: 10px; text-align: left; background: #151515; border: 1px solid #000; color: #d4d4d4; font-weight: normal; }
    .users-page.admin .users-table .users-row { display: table-row; }
    .users-page.admin .users-table .users-col { display: table-cell; padding: 10px; color: #666; background: #0b0b0b; border: 1px solid #000; }
}

@media only screen and (max-width: 739px) {
    .users-page.admin .users-table .users-haed-row { margin-bottom: 5px; }
    .users-page.admin .users-table .users-haed-row .email-th { display: none; }
    .users-page.admin .users-table .users-haed-row div { display: inline-block; margin-left: 3px; }
    .users-page.admin .users-table .users-haed-row div a { color: #474747; text-decoration: underline; }
    .users-page.admin .users-table .users-haed-row div a:hover { text-decoration: none; }
    .users-page.admin .users-table .users-row { position: relative; padding: 10px; background-color: #0b0b0b; border-bottom: 1px solid #000; }
    .users-page.admin .users-table .users-col { color: #666; }
    .users-page.admin .users-table .users-col:first-child a { color: #fff; }

    .users-page.admin .users-table .user-details-btn { position: absolute; right: 10px; bottom: 10px; }
}

/* admin display/edit profile page */

@media only screen and (max-width: 585px) {
    .display-profile-page.admin h2.page-title,
    .edit-profile-page.admin h2.page-title { margin-top: 10px; }
}

.display-profile-page.admin .user-admin-btns { margin-top: 20px; }
