@using Crossroads.Web.Areas.Administration.ViewModels.UserViewModels.Towns
@model TownOutputViewModel

<li id="townLi@(Model.Id)">
    <div class="box" id="town@(Model.Id)">@Model.Name</div>
    @Ajax.ActionLink("Промени", "EditTown", new { id = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "town" + Model.Id,
            InsertionMode = InsertionMode.Replace
        }, new { @class = "edit-btn" })
    @Ajax.ActionLink("Изтрий", "DeleteTown", new { id = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "DELETE",
            UpdateTargetId = "townLi" + Model.Id,
            InsertionMode = InsertionMode.ReplaceWith,
            Confirm = "Потвърждавате ли изтриването?"
        }, new { @class = "delete-btn" })
</li>