@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Topics
@using Crossroads.Web.Infrastructure.Constants
@using MvcPaging
@model IPagedList<TopicOutputViewModel>
@{
    ViewBag.Title = "Теми";
}

@Html.ActionLink("Сортирай", "ListTopics", new { ordered = true })

<div id="topicsList">
    @foreach (var topic in Model)
    {
        @Html.Partial(Partials.Topic, topic);
    }
</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                .AddRouteValue("ordered", ViewBag.Ordered))
</div>