@using Crossroads.Web.Areas.Administration.ViewModels.Interests
@model AddInterestViewModel

@using (Ajax.BeginForm("AddInterest",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertBefore,
            UpdateTargetId = "interestsList",
            OnSuccess = "interestFormShow"
        }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <input type="submit" value="Добави" />
    <a href="javascript:void(0)" onclick="interestFormHide()">Откажи</a>
}

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse($('#addInterest'));
</script>