<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="dbbff7177db32a426da0b1a496014859ba" connectionString="sqlserver://elirkiokmayivkjk:2vmWTRGJb8PQFGdpYKmJTpUb2UQ5JqkpJTcHW8YA4SMALY346RBpnUMLJk48aK8S@bff7177d-b32a-426d-a0b1-a496014859ba.sqlserver.sequelizer.com/dbbff7177db32a426da0b1a496014859ba" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>