@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Categories
@model CategoryInputViewModel

@using (Ajax.BeginForm("EditCategory",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "categoryDiv" + Model.Id,
            OnSuccess = "categoryFormHide('#editCategory" + Model.Id + "')"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.TextBoxFor(m => m.Name, new { @class = "default-input" })
    <div class="category-textarea">
        @Html.TextAreaFor(m => m.Description)
    </div>
    <div class="buttons">
        <input class="default-btn" type="submit" value="Промени" />
        <a class="refuse-btn" href="javascript:void(0)" onclick="categoryFormHide('#editCategory@(Model.Id)')">Откажи</a>
    </div>
}

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse($('#editCategory@(Model.Id)'));
</script>
