@using Crossroads.Web.Areas.Administration.ViewModels.Users
@using System.Collections
@model IList<UserViewModel>
@{
    ViewBag.Title = "Потребители";
}

<table>
    <thead>
        <tr>
            <th>Име</th>
            <th>Роля</th>
            <th>Последна активност</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Role</td>
                <td>@user.LastActionTime</td>
            </tr>
        }
    </tbody>
</table>

