@using Crossroads.Web.ViewModels.ForumViewModels.Answers
@model AddAnswerViewModel
@using (Ajax.BeginForm("AddAnswer", "Answers",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertBefore,
            UpdateTargetId = "allAnswers",
            OnSuccess = "formHide('#newAnswerForm')"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.TopicId)
    @Html.EditorFor(m => m.Content)
    <div class="buttons">
        <input class="default-btn"  type="submit" value="Добави" />
        <a class="refuse-btn" href="javascript:void(0)" onclick="formHide('#newAnswerForm')">Откажи</a>
    </div>
}

<script type="text/javascript" language=javascript>
    $.validator.setDefaults({
        ignore: ""
    });
    $.validator.unobtrusive.parse($('#newAnswerForm'));
</script>